<div class="row rails-page">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
  <h1 class="blue">Log in</h1>
  <% flash.each do |key, value| %>
  <div class='alert alert-<%= key %>' role='alert'>
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <%= value %>
  </div>
<% end %>
<%= form_for :account, url:'/login' do |f| %>
  <div class="form-group">
  <p class="blue">Account type:</p>
  <%= select_tag("type", options_for_select(['user', 'truck']), class: 'form-control') %>
  </div>

  <div class="form-group">
    <p class="blue">Email:</p>
    <%= f.text_field :email, placeholder:'email', class: 'form-control' %>
  </div>
  <div class="form-group">
    <p class="blue">Password:</p>
    <%= f.password_field :password, placeholder:'password', class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit "Login", class:"btn btn-default" %>
  </div>
  </div>
  <div class="col-md-4">
  </div>
  </div>

<% end %>
