

<div class="row rails-page">

  <div class="col-md-4">
  </div>
  <div class="col-md-4">
<h1 class="blue">Create a new truck account</h1>

<% flash.each do |key, value| %>
  <div class='alert alert-<%= key %>' role='alert'>
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <%= value %>
  </div>
<% end %>


<%= form_for @truck_account, url: truck_signup_path do |f| %>
  <div class="form-group">
    <p class="blue">First name:</p>
    <%= f.text_field :first_name, placeholder:"First name", class: "form-control"%>
  </div>
  <div class="form-group">
    <p class="blue">Last name:</p>
    <%= f.text_field :last_name, placeholder:"Last name", class: "form-control"%>
  </div>
  <div class="form-group">
    <p class="blue">Email:</p>
    <%= f.text_field :email, placeholder:"Email ", class: "form-control"%>
  </div>
  <div class="form-group">
    <p class="blue">Company:</p>
    <%= f.text_field :company, placeholder:"Company ", class: "form-control"%>
  </div>
  <div class="form-group">  
    <p class="blue">Password:</p>
    <%= f.password_field :password, placeholder:"Choose password", class: "form-control"%>
  </div>
  <div class="form-group">  
    <p class="blue">Confirm password:</p>
    <%= f.password_field :password_confirmation, placeholder:"Confirm password", class: "form-control"%>
  </div>
 
  <div class="form-group">
    <%= f.submit "Sign up", class:"btn btn-lg btn-default" %>
  </div>
<% end %>
</div>
<div class="col-md-7">
</div>
</div>