<div class="row rails-page">
<div class="col-md-4 col-md-offset-4">
<h1 class="blue">Account Details</h1>

<% flash.each do |key, value| %>
  <div class='alert alert-<%= key %>' role='alert'>
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <%= value %>
  </div>
<% end %>

<p><span class="blue">Account holder:</span><span class="white"> <%= @truck_account.first_name %> <%= @truck_account.last_name %></span></p> 
<p><span class="blue">Company:</span><span class="white"> <%= @truck_account.company %></span></p>
<%= link_to "Edit account details", edit_truck_account_path(@truck_account), class:'btn btn-default' %>
<br>
<hr>
<h3 class="blue">Trucks:</h3>
<table class="table">
<% @truck_account.trucks.each do |t| %>
<tr>
  <td><%= link_to "#{t.name}", truck_account_truck_path(@truck_account, t), class:'h3 white truck-checkin-link'  %></td><td> <%= link_to "edit", edit_truck_account_truck_path(@truck_account, t),class:'btn btn-default btn-sm' %></td><td> <%= link_to "x", truck_account_truck_path(@truck_account, t), method: :delete, data: { confirm: "Are you sure?" },class:'btn btn-default btn-sm' %></td>
  </tr>
<% end %>
</table>
<%= button_to "Add truck", new_truck_account_truck_path(@truck_account), method: :get, class: "btn btn-default" %>
</div>
</div>

<style>
.truck-checkin-link:hover {
  text-decoration: none;
  color: #05dbfc;
}