<!DOCTYPE html>
<html>
<head>
  <title>Truck Hunt</title>
  <%= favicon_link_tag 'truck-blue-256.png' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=geometry&key=#{ENV['GMAP_KEY']}"></script>

  <%= csrf_meta_tags %>
</head>
<body ng-app='truckApp'>

<div class="container-fluid">
  <div class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="navbar-left">
      <a class="navbar-brand" href="/">
        <%= image_tag "logo-stacked.png", height: '150' %>
      </a>
    </div>
    <div class="navbar-right">
      <ul class="nav navbar-nav font-secondary">
        <% if current_user %>
          <li ><%= link_to "Logout", logout_path %></li>
          <li>
            <a ui-sref='home.truck-graph'>Truck Graph</a>
          </li>          
          <% if session[:truck_id] %>
            <li><%= link_to "Dashboard", truck_account_path(current_user) %></li>
          <% end %>
        <% else %>
          <li><%= link_to "Login", login_path %></li> 
          <li><%= link_to "Sign-up", signup_path %></li>
          <li><%= link_to "Sign-up truck", truck_signup_path %></li>
          <li>
            <a ui-sref='home.truck-graph'>Truck Graph</a>
          </li>
        <% end %>
      </ul> 
      <a class="tagline">
        <%= image_tag "tagline-02.png", width:'600' %>
      </a>       
    </div>
  </div>

<%= yield %>

<div class="empty-division">
</div>
   
</div>

<script>
// Global variable to track of current user
<% if current_user %>
var currentUser = {
  id: <%= current_user.id %>,
  type: "<%= current_user.class %>"
}
<% else %>
var currentUser = null;
<% end %>
</script>
</body>
</html>
