
<!DOCTYPE html>
<html>
<head>
  <title>Project03</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=geometry&key=#{ENV['GMAP_KEY']}"></script>

  <%= csrf_meta_tags %>
</head>
<body ng-app='truckApp'>
<div class="navbar navbar-default navbar-fixed-top">
<% if current_user %>
  <%= link_to "Logout", logout_path %>
  <% if session[:truck_id] %>
    <%= link_to "Dashboard", truck_account_path(current_user) %>
  <% end %>
<% else %>
  <%= link_to "Login", login_path %> | <%= link_to "Sign-up", signup_path %> | <%= link_to "Sign-up truck", truck_signup_path %>
<% end %>
</div>
<div class="container-fluid">

<%= yield %>

</div>

<script>
// Global variable to track of current user
<% if current_user %>
var currentUser = {
  id: <%= current_user.id %>,
  type: "<%= current_user.class %>"
}
<% else %>
var currentUser = null;
<% end %>
</script>
</body>
</html>
