<!DOCTYPE html>
<html>
<head>
  <title>Project03</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script src="https://maps.googleapis.com/maps/api/js?key=#{ENV['GMAP_KEY']}"></script>

  <%= csrf_meta_tags %>
</head>
<body ng-app='truckApp'>
<div class="container-fluid">
<% if current_user %>
  <%= link_to "Logout", logout_path %>
<% else %>
  <%= link_to "Login", login_path %> | <%= link_to "Sign-up", signup_path %> | <%= link_to "Sign-up truck", truck_signup_path %>
<% end %>

<%= yield %>

</div>
</body>
</html>
