<!DOCTYPE html>
<html ng-app='truckApp'>
<head>
  <title>Project03</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GMAP_KEY'] %>">
  </script>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
